.frame-1 {
    border-style: solid;
    border-color: #181401;
    border-width: 2px;
    display: flex;
    filter: blur(2px);
}

.rectangle-1 {
    background: hsl(225, 94%, 47%);
    border-radius: 75px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    align-self: stretch;
    flex-shrink: 0;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    color: white;
}

.rectangle-1:hover {
    color: rgb(6, 67, 87);
    background-color: lightblue;
}

.h1 {
    margin-left: 18px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
}